html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 0.98em;
}

.container {
  display: flex;              /* Using flexbox to align the divs side by side */
  height: calc(100vh - 5px);  /* Subtract 20px for top and bottom margins */
}

.side-tab {
  margin: 5px;
  width: calc(10% - 20px);     /* Subtracting 10px margin from left and right */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5); /* Subtle shadow for a floating effect */
  padding: 20px 13px 0px 13px;
  visibility: hidden;
}

/* Styling for the side tab heading */
.side-tab h2 {
  font-size: 24px;
  color: #4A90E2; /* Warm blue color */
}

/* Styling for the module list */
.side-tab ul {
  list-style-type: none;
  padding: 0;
}

/* Hover effect for list items (highlight) */
.side-tab li:hover {
  background-color: #e3f2fd; /* Light blue background on hover */
  color: #1e6bb8; /* Darker blue for text color on hover */
  border-radius: 5px; /* Slight rounding on hover for a smoother look */
}

/* Default style for the list items */
.side-tab ul li {
  color: black; /* Default font color */
  padding: 10px 20px;
  cursor: pointer;
}

/* When a tab is selected (active) */
.side-tab ul li.active {
  color: white; /* Font color turns white */
  background-color: #006ac3; /* Background turns blue */
  border-radius: 8px; /* Slight rounding on hover for a smoother look */

}

/* Optional: Add some transition effects for smooth changes */
.side-tab ul li {
  transition: all 0.3s ease;
}

#content-area {
  margin: 5px;
  width: calc(90% - 5px);     /* Subtracting 10px margin from left and right */
  border-radius: 5px; /* Rounded corners */
}

.tab-content {
    height: calc(97% - 2px)
}

.table-wrapper {
	height: 80%;
	border-radius: 5px;
	box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5); /* Subtle shadow for a floating effect */
	margin: 5px;
	padding: 15px;
}

.card-container {
	display: flex;
	height: calc(20% - 5px);
	border-radius: 5px;
}

.card {
	margin: 0 5px 5px 5px;
	width: 100%;
	border-radius: 5px;
	box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5); /* Subtle shadow for a floating effect */
	transition: background-color 0.5s ease; /* Transition for smooth color change */
	display: flex;
	flex-direction: column;
    color: black;
    position: relative;
	overflow: hidden;
}

.card-header {
    height: 20%;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    margin: 15px 0 10px 0;
}

.card-sub-header {
    font-weight: bold;
    border: 1px dotted black;
    font-size:0.92em;
    border-top: none;
    border-left: none;
    height: 100%;
    width: 100%;
    margin: 1%;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center; /* Centers horizontally */
 }
.card-number {
    margin: 1%;
    display: flex;
    justify-content: center;

    border: 1px dotted black;
    border-top: none;
    border-bottom: none;
    border-left: none;
    width: 100%;
}
.card-content {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 0.8em;
}

.first-card-element {
    width: 50%;
    height: 100%;
    display: flex;
    margin: 10px;
    align-items: center;
}

.second-card-element {
    width: 50%;
    height: 100%;
    display: flex;
    margin: 10px;
    align-items: center;
}

.label {
    width: 50%; /* 30% width for the label */
    text-align: left; /* Aligns text of label to the left */
    margin-left: 10px
}

.input {
    width: 30%; /* 30% width for the input */

    text-align: center;
}

button {
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  background-color:#006ac3;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
    display: inline-block;
    margin-right: 3px; /* Optional: adds space between buttons */

}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

table {
	margin-top: 12.5px;
	width: 100%;
	border-radius: 5px; /* Rounded corners */
	border-collapse: collapse;
	font-size: 0.8em;
	padding: 5px;
	text-align: center;
}

th, td {
	border: 1px solid black;
	text-align: center !important;
}



table.dataTable thead th {
    border-bottom: 3px solid black !important; /* Adjust thickness and color */
    padding-bottom: 5px; /* Optional: Adjust spacing */
}



.highlighted {
  background-color: #68bbe3 !important; /* Light blue background */
}

.dt-column-order {
    display: none;
}

.dt-type-numeric {
    text-align: center !important;
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

.popup button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
}

.popup button:hover {
    background-color: #0056b3;
}

/* Hidden file input */
.file-input {
    display: none;
}

.file-name {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}