/* General styling for the body */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 0.98em;
  margin-left: 250px; /* Adjusted for the width of the side tab and some space */
  background-color: #f0f0f0; /* Light background for the main page */
  transition: margin-left 0.3s ease; /* Smooth transition for content */
}

/* Style for the side tab */
.side-tab {
  height: 96%;
  width: 200px; /* Fixed width */
  position: fixed;
  left: 0;
  background-color: white;
  color: #4A90E2; /* Warm blue color */
  overflow-x: hidden;
  padding: 20px 13px 0px 13px;
  border-radius: 5px; /* Rounded corners */
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for a floating effect */
  margin-left: 10px; /* Detached from the left screen */
}

/* Styling for the side tab heading */
.side-tab h2 {
  font-size: 24px;
  color: #4A90E2; /* Warm blue color */
}

/* Styling for the module list */
.side-tab ul {
  list-style-type: none;
  padding: 0;
}

/* Hover effect for list items (highlight) */
.side-tab li:hover {
  background-color: #e3f2fd; /* Light blue background on hover */
  color: #1e6bb8; /* Darker blue for text color on hover */
  border-radius: 5px; /* Slight rounding on hover for a smoother look */
}

/* Hover effect for close button */
.side-tab .close-btn:hover {
  color: #3B7BBF; /* Darker blue for hover effect */
}

/* Default style for the list items */
.side-tab ul li {
  color: black; /* Default font color */
  background-color: transparent; /* Default background */
  padding: 10px 20px;
  cursor: pointer;
}

/* When a tab is selected (active) */
.side-tab ul li.active {
  color: white; /* Font color turns white */
  background-color: #006ac3; /* Background turns blue */
  border-radius: 8px; /* Slight rounding on hover for a smoother look */

}

/* Optional: Add some transition effects for smooth changes */
.side-tab ul li {
  transition: all 0.3s ease;
}

/* Content area for the modules */
#content-area {
  margin-left: 0px; /* Space for the side tab */
  border-radius: 5px;
  height: 100%;
}

/* Styling for the content in each module */
.module-content {
  display: none; /* Hide all content initially */
}



