.card-container {
    height: 52%;
    width: 100%;
}
.card {
    flex-direction: row
}
.chart-container {
            width: 50%;
            height: 90%;
        }

        /* Style the table */
                table {
                    color: white;
                    width: 80%;
                    height: 40%;
                    border-collapse: collapse;
                    //margin-top: 20px;
                }

                th, td {
                    padding: 2%;
                    text-align: left;
                    border: 1px solid #ddd;
                    width: 30%;

                }

                th {
                    background-color: #f2f2f2;
                    color: black;
                }
