.table-wrapper {
	height: 40%;
	border-radius: 5px;
	box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5); /* Subtle shadow for a floating effect */
	margin: 5px;
	padding: 15px;
}

.card-container {
	display: flex;
	height: calc(30% - 5px);
	border-radius: 5px;
}